.header__wrapper {
  background-color: $green;
  border-bottom: 10px solid lighten($green, 5%);
}

.header__title {
  @extend .pure-menu-heading;
  color: $white;
  font-size: 30px;

  font-weight: 700;
  font-style: italic;

  &.header__title--mini { display: none; }

  @include viewports(up-to small) {
    &.header__title--full { display: none; }
    &.header__title--mini { display: inline-block; }
  }
}


.header__links {
  @extend .pure-menu-list;

  li {
    @extend .pure-menu-item;
    color: $white;
  }

  .header__link {
    @extend .pure-menu-link;
    color: $white;
    margin: 0 1px;

    &:hover, &:focus {
      border-radius: 2px;
      color: $green;
    }

    i {
      @include viewports(up-to small) {
        font-size: 22px;
      }
    }
  }

  @include viewports(up-to small) {
    .link__title { display: none; }
  }
}
