.paging__controls {
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
}

.paging__previous {
  float: left;
  display: inline-block;
}
.paging__state {
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px;
}
.paging__next {
  float: right;
  display: inline-block;
}


