.invitation__wrapper {
  @extend .pure-form; // to get the input style right

  margin: 5px 0;

  input, button {
    font-size: 25px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0 !important;
  }

  @include viewports (up-to small) {
    input, button { font-size: 20px; }
  }
}

