.card__wrapper {
  background-color: $white;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid $border-color--light;

  transition: box-shadow 0.3s;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.4);
  &:hover { box-shadow: 0 4px 4px -2px rgba(0,0,0,0.8) }
}

.card__content {
  padding: 10px;
  position: relative;
}
.card__controls {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  button { height: 100%; }
}


.card__cover {
  // card cover will have bg-image
  background-size: cover;
  background-position: center center;
  background-color: $bg-color--dark;
  height: 150px;
  width: 100%;
}
