@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700italic,700);

html, body {
  min-height: 100%;
  background-color: #187389;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

#app {
  background-color: $bg-color--light;
}

.app-container {
  margin: 20px auto 30px auto;
  width: 90%;
  max-width: 1020px;

  @include viewports (up-to small) {
    width: 100%;
  }
}

.view__title {
  margin-left: 10px;
}


// Button related
button, .btn {
  @extend .pure-button;
}

.btn-primary {
  @extend .pure-button-primary;
  background-color: $green;

  // hack to avoid some weird 0.7m top margin that comes from purecss on <=480px breakpoint
  margin-top: 0 !important;
}
.btn-secondary {
  color: $white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
}

.app__title {
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
}
