@import '_colors.scss';

$white: #FFF;

// moar colors - copied from Sorsa website from ~ 2007
$green: #179A5C;
$green--light: #43B769;
$green--dimmed: #5FC67A;
$orange: #FD9C4B;
$yellow: #FECA30;
$purple: #9061C2;
$blue: #187389;
$blue--dark: #024555;
$blue--light: rgb(66, 184, 221);


// link color vars to "purposes" (person, spot, organization, image)
$purpose: $color-secondary-1-2; // used as a default
$purpose--person: $color-secondary-1-0;
$purpose--spot: $color-secondary-1-4;
$purpose--image: $purple;


$bg-color--light: #e8e8e8;// http://www.0to255.com/E0E0E0
$bg-color--dark: #bebebe;

$text-color--dark: #9C9C9C;
$border-color--light: #bebebe;

$color--ready: #13d11d;  // http://www.0to255.com/12c11b
$color--error: $color-complement-0;
