.image__preview--list {
  max-height: 200px;
  max-width: 300px;
}

.image__wrapper {
  .card__purpose {
    background-color: $purpose--image;
  }
  .card__cover {
    transition: height 1s;
    background-repeat: no-repeat;
  }
}

.image__title__trickname {
  font-weight: normal;
  font-size: 0.8em;
  color: $text-color--dark;
}

.image__wrapper--editmode {
  .card__cover { height: 400px; }
}

.select__group {
  margin-bottom: 0.5em;

  // these try to mimick how purecss aligned form works, so
  // they would look the same when put side by side
  label {
    display: inline-block;
    width: 10em;
    text-align: right;
    vertical-align: middle;
    margin: -26px 1em 0 0;
  }
  .select__wrapper {
    display: inline-block;
    width: 350px;
  }
}

