.odometer__wrapper {
  font-size: 35px;
  margin: 0 15px 10px 15px;

  .odometer__title {
    font-size: 15px;
    margin: 0;
  }

  span.whitespace {
    padding: 0 3px;
  }
  span.digit {
    min-width: 25px;
    display: inline-block;

    text-align: center;

    background-color: black;
    color: white;

    margin-right: 4px;
    padding: 2px 3px;

    border-radius: 4px;
  }
}
