.odometer__wrapper {
  font-size: 35px;
  margin: 0 15px 10px 15px;

  .odometer__title {
    font-size: 15px;
    margin: 0;
    text-align: left;
  }

  span.whitespace {
    padding: 0 3px;
  }
  span.digit {
    min-width: 25px;
    display: inline-block;

    text-align: center;

    background-color: black;
    color: white;

    margin-right: 4px;
    padding: 2px 3px;

    border-radius: 4px;
  }

  @include viewports (up-to small) {
    font-size: 20px;

    span.digit {
      margin-right: 1px;
      padding: 1px 2px;
    }

    span.whitespace {
      padding: 0 2px;
    }
  }
}
