$upload-card__height: 90px;

.upload__wrapper {
  position: relative;
  height: $upload-card__height;
  overflow: hidden;
  box-sizing: border-box;

  @include viewports(up-to small) {
    height: auto;
  }
}

.upload__title {
  @include viewports(up-to small) {
    display: block;
    width: 100%;
  }
}

.upload__status {
  padding: 10px;

  @include viewports(above small) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 20px;
  }

  @include viewports(up-to small) {
    margin-left: -10px;
    margin-bottom: -10px;
    width: 110%;
  }
}
.upload__status--ready {
  background-image: linear-gradient($color--ready, darken($color--ready, 5%));
}
.upload__status--failed {
  background-image: linear-gradient($color--error, darken($color--error, 5%));
}
